{% load static %}

<html>
<head>
    <title>App Enquetes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/style.css' %}">
</head>
<body>
    <h1>Aplicação de Enquetes - DSweb 2024.1</h1>
    <h2>Enquete #{{ pergunta.id }}</h2>
    <h2>{{ pergunta.texto }}</h2>
    <p><i>{{ pergunta.data_pub }}</i></p>
    {% if error %}
        <p><b>Erro: {{ error }}</b></p>
    {% endif %}
    <p>Selecione a alternativa desejada:</p>
    <form action="{% url 'enquetes:detalhes' pergunta.id %}" method="post">
        {% csrf_token %}
        <ul>
        {% for alt in pergunta.alternativa_set.all %}
            <li>
                <input type="radio" name="escolha" value="{{ alt.id }}" id="alt{{ forloop.counter }}"/>
                <label for="alt{{ forloop.counter }}">
                    {{ alt.texto }}
                </label>
            </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Registre o seu voto"/>
    </form>
    <hr>
    <a href="{% url 'enquetes:index' %}"><button class="button">Voltar</button></a>
</body>
</html>
