{% load static %}

<html>
    <head>
        <title>App Enquetes</title>
        <link rel="stylesheet" type="text/css" href="{% static 'enquetes/css/style.css' %}">
    </head>
    <body>
        <h1>Aplicação de Enquetes - DSweb 2024.1</h1>
        <h2>PARCIAL da Enquete #{{ enquete.id }}</h2>
        <h2>{{ enquete.texto }}</h2>
        <div class="resultado">
          <p><i>{{ enquete.data_pub }}</i></p>
          <ul>
            {% for alt in pergunta.alternativa_set.all %}
              <li>
                {{ alt.texto }} == {{ alt.quant_votos }}
                voto{{ alt.quant_votos | pluralize }}
              </li>
            {% endfor %}
          </ul>
        </div>
        <hr>
        <a href="{% url 'enquetes:detalhes' pergunta.id %}" class="black"><button>Votar novamente?</button></a>
        <br>
        <a href="{% url 'enquetes:index' %}" class="black"><button>Voltar</button></a>
    </body>
</html>