<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body style="background-image: url('https://i.pinimg.com/originals/c7/60/5d/c7605d39fed0bce012e5cd4651a8a332.jpg');">
        <h1 style="color:white;">Aplicação de Enquetes - DSweb 2024.1</h1>
        <h2 style="color:white;">PARCIAL da Enquete #{{ enquete.id }}</h2>
        <h2 style="color:white;">{{ enquete.texto }}</h2>
        <p style="color:white;"><i>{{ enquete.data_pub }}</i></p>
        <ul style="color:white;">
        {% for alt in enquete.alternativa_set.all %}
            <li style="color:white;">
                    {{ alt.texto }} == {{ alt.quant_votos }}
                    voto{{ alt.quant_votos | pluralize }}
            </li>
        {% endfor %}
        </ul>
        <hr>
        <button><a style="color:black;" href="{% url 'enquetes:detalhes' enquete.id %}">Votar novamente?</a></button>
        <br>
        <button><a style="color:black;" href="{% url 'enquetes:index' %}">Voltar</a></button>
    </body>
</html>